
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 97px;
  width: 100%;
  
 
  background-color: rgba(17, 17, 89, 0.699);
}
#leftsection {
  font-size: 25px;
  font-weight: bold;
  padding: 0 5vw;
}
.btn {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(77, 77, 230, 0.942);
  background: rgba(17, 17, 89, 0.699);
  color: rgba(77, 77, 230, 0.942);
  cursor: pointer;
  font-size: bolder;
}
.btn a {
  padding: 12px;
  text-decoration: none;

  color: rgba(77, 77, 230, 0.942);
  cursor: pointer;
}
#rightsection {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: center;
 gap: 2vw;
  font-size: 0.9vw;
}
nav div ul li {
  list-style: none;
margin: 0 42px; 
  /* gap: 2vw; */
  font-weight: bold;
}
nav div ul i {
 
  font-size: 10vw;
  font-weight: 900;
  display: none;
}
nav div ul li a {
  text-decoration: none;
  color: white;
}

nav div ul li a:hover {
  font-size: 17px;
  color: rgba(111, 111, 192, 0.837);
}
#mainsection {
  display: flex;
  justify-content: space-around;
  margin: -50px 0;
}
#rightmainsection {
  /* border: 2px solid red; */
  height: 50%;
  width: 50%;
}
#rightmainsection img {
  height: 100%;
  width: 100%;
}

#leftmainection {
  font-size: 3rem;
  width: 30%;
  /* margin: 173px 97px; */
  padding: 19vh 0vw;
  font-weight: bold;
  text-align: justify;
}
.purple {
  color: rgba(77, 77, 230, 0.942);
}
#element {
  color: rgba(77, 77, 230, 0.942);
}
.secondsection {
  max-width: 80vw;
  margin: 20px 107px;
  height: 35vw;
}
.secondsection h3 {
  font-size: 25px;
  font-weight: 100px;
  margin: 10px 0;
}
hr {
  order: 0;
  background: white;
  height: 1px;
  margin: 0 90px;
}
.text-purple {
  color: rgba(77, 77, 230, 0.942);
  margin: 20px 0;
}
.secondsection .box {
  background: rgba(77, 77, 230, 0.942);
  width: 80vw;
  justify-content: space-between;
  height: 1.5px;
  margin: 60px 2px;
  display: flex;
  padding: 0px 1px 1px 1px;
}
.secondsection .vertical {
  background-color: white;
  height: 100px;
  width: 1px;
  margin: 0 143px;
}
.c_name {
  font-weight: bolder;
  color: rgba(77, 77, 230, 0.942);
}
.image_1 {
  width: 50px;
  position: relative;
  top: -57px;
  left: -24px;
  border-radius: 25px;
}
.text {
  position: relative;
  top: 50px;
  left: -6px;
  width: 270px;
  font-size: 20px;
  font-weight: bolder;
}
.para {
  margin: 10px 0;
  padding: 7px 0;
  font-weight: normal;
  font-size: small;
 
}
footer {
  background-color: rgba(17, 17, 89, 0.699);
  height: 233px;
}
.foot {
  display: flex;
  justify-content: space-around;
}
.firstfoot {
  padding: 9px 86px;
  margin: 5px 0 0 0;
}
.secondfoot {
  padding: 5px 86px;
}
.secondfoot ul li {
  list-style: none;
}
.thirdfoot {
  padding: 5px 86px;
}
.thirdfoot ul li {
  list-style: none;
}
.forthfoot {
  padding: 5px 86px;
}
.forthfoot ul li {
  list-style: none;
}
.foot li {
  padding: 10px 0;
}
.img {
  width: 20px;
  height: 20%;
}
#textfoot {
  text-align: center;
  padding: 12px 0 0 0;
  margin: 20px 0 0 0;
  color: rgba(77, 77, 230, 0.942);
}
.links {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 261px;
    width: 400vw;
    flex-wrap: wrap;
    background-color: rgba(17, 17, 89, 0.699);
  }
  #leftsection {
    font-size: 12vw;
    font-weight: bold;
  }
  nav div ul li a {
    text-decoration: none;
    color: white;
    font-size: 8vw;
    display: none;
  }
  nav div ul i {
   font-size: 12vw;
    display: block;
  }
  #leftmainection {
    display: flex;
    font-size: 25vw;
    width: 375vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
  }
  #mainsection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  #rightmainsection img {
    display: flex;
    width: 375vw;
  }
  .btn {
    padding: 12px;
    border-radius: 30px;
    border: 1px solid rgba(77, 77, 230, 0.942);
    background: rgba(17, 17, 89, 0.699);
    color: rgba(77, 77, 230, 0.942);
    cursor: pointer;
    font-size: bolder;
  }
  .btn a {
    padding: 25vw;
    font-size: 15vw;
    text-decoration: none;
    color: rgba(77, 77, 230, 0.942);
    cursor: pointer;
}
  hr {
    order: 0;
    background: white;
    height: 1.5px;
    width: 370vw;
  }
  .text-purple {
    color: rgba(77, 77, 230, 0.942);
    margin: 63px -17px;
    font-size: 10vw;
    display: block;
  }
  .secondsection h3 {
    display: flex;
    font-size: 15vw;
    font-weight: 100px;
    margin: 25px 66px 86px -3px;
  }
  .secondsection .box {
    width: 364vw;
    /* height: -10.5vh; */
    margin: 60px 2px 20px 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 1px 1px 1px;
  }
  .text {
    position: relative;
    top: 50px;
    left: -6px;
    width: 270px;
    font-size: 8vw;
    font-weight: bolder;
  }
  .para {
    margin: 10px 0;
    padding: 7px 0;
    font-weight: normal;
    font-size: small;
    font-size: 5vw;
   
  }
  
  footer {
    background-color: rgba(17, 17, 89, 0.699);
    height: 27vh;
    width: 400vw;
    margin: 1061px -64px -25px 1px;
}
.firstfoot {
  padding: 9px 86px;
  margin: 5px 0 0 0;
  font-size: 8vw;
}
.secondfoot {
  padding: 5px 86px;
  font-size: 5vw;
}.thirdfoot {
  padding: 5px 86px;
  font-size: 5vw;
}
.forthfoot {
  padding: 5px 86px;
  font-size: 5vw;
}
.img {
  width: 30px;
  height: 30%;
}#textfoot {
  text-align: center;
  padding: 12px 0 0 0;
  margin: 20px 0 0 0;
  color: rgba(77, 77, 230, 0.942);
  font-size: 5vw;
}
}

